@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #0092e1;
  color: white;
}

html {
  @apply bg-zinc-200 antialiased;
}

.u-footer-link {
  @apply rounded px-2 py-1 underline decoration-white/50 hover:text-white/60 focus:ring-2 focus:ring-white/25;
}

.x-accent-color {
  accent-color: #00476f;
}

@font-face {
  font-display: swap;
  font-family: 'Hyand Px Grotesk';
  src: url('/fonts/Hyand-Px-Grotesk-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Hyand Px Grotesk Mono';
  src: url('/fonts/Hyand-Px-Grotesk-Mono-Light.woff2') format('woff2'),
    url('/fonts/Hyand-Px-Grotesk-Mono-Light.woff') format('woff');
}
