@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-zinc-200 antialiased;
}

.u-footer-link {
  @apply rounded px-2 py-1 underline decoration-white/50 hover:text-white/60 focus:ring-2 focus:ring-white/25;
}

/* manrope-regular - latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/manrope-v13-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/fonts/manrope-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-700 - latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  src: local(''), url('/fonts/manrope-v13-latin-800.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/fonts/manrope-v13-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
